.menubar {
	height: 30px;
	border: 1px solid gray;
}

textarea {
	width: 100% !important;
	background-color: #fff7f7; /* #373737; */
	height: 90%;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	overflow: auto;
	color: green;
	font-size: 16px;
	resize: none;
	border: none;
}

.container {
	display: flex;
	flex-flow: row wrap;
	height: 700px;
}

.item {
	flex-grow: 4;
	height: 48%;
	width: 42%;
}

.file-context {
	border: 1px solid #2f444f;
	margin-right: 1%;
}

.token-context {
	border: 1px solid #2f444f;
}

.symbol-context {
	border: 1px solid #2f444f;
	margin-right: 1%;
}

.error-context {
	border: 1px solid #2f444f;
}

/* .menuul {
	padding: 0px;
	margin: 0px;
	display: inline-block;
}

.menuul-li{
	line-height: 30px;
	list-style: none;
	display: inline-block;
} */
.tabcard {
	height: 10%;
	padding-left: 3%;
	color: white;
	width: 14%;
	border-bottom-right-radius: 35px;
	background: #3d7fd2;
	font-size: 20px;
	font-family: '微软雅黑';
	font-weight: 600;
	float:left;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #2C3437;
}

li {
	float: left;
}

li a, .dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 5px 16px;
	text-decoration: none;
}

/* li a:hover, .dropdown:hover .dropbtn {
	background-color: #111;
} */

.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.dropdown .dropbtn:hover .dropdown-content {
	display: block;
}